Getting the Data

In [5]:
import pandas as pd
from sklearn import preprocessing
from scipy.io import arff
df = pd.read_csv("dataset/divorce.csv",sep=";")
df

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0,0,0,0,0,0,0,0,0,0,...,1,0,4,1,1,4,2,2,2,0
166,0,0,0,0,0,0,0,0,0,0,...,4,1,2,2,2,2,3,2,2,0
167,1,1,0,0,0,0,0,0,0,1,...,3,0,2,0,1,1,3,0,0,0
168,0,0,0,0,0,0,0,0,0,0,...,3,3,2,2,3,2,4,3,1,0
169,0,0,0,0,0,0,0,1,0,0,...,3,4,4,0,1,3,3,3,1,0

Preprocessing :  Check for null values / Normalize data

In [7]:
from sklearn import preprocessing
# Check for null values
total = df.isnull().sum().sort_values(ascending=False)
total
x = df.values #returns a numpy array
print(x)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df

[[0.5  0.5  1.   ... 0.5  0.25 1.  ]
 [1.   1.   1.   ... 0.5  0.5  1.  ]
 [0.5  0.5  0.5  ... 0.5  0.5  1.  ]
 ...
 [0.25 0.25 0.   ... 0.   0.   0.  ]
 [0.   0.   0.   ... 0.75 0.25 0.  ]
 [0.   0.   0.   ... 0.75 0.25 0.  ]]

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,0.50,0.50,1.00,0.25,0.00,0.00,0.00,0.00,0.00,0.00,...,0.50,0.25,0.75,0.75,0.75,0.50,0.75,0.50,0.25,1.0
1,1.00,1.00,1.00,1.00,1.00,0.00,0.00,1.00,1.00,1.00,...,0.50,0.50,0.75,1.00,1.00,1.00,1.00,0.50,0.50,1.0
2,0.50,0.50,0.50,0.50,0.25,0.75,0.50,0.25,0.25,0.50,...,0.75,0.50,0.75,0.25,0.25,0.25,0.50,0.50,0.50,1.0
3,0.75,0.50,0.75,0.50,0.75,0.75,0.75,0.75,0.75,0.75,...,0.50,0.50,0.75,0.75,0.75,0.75,0.50,0.50,0.50,1.0
4,0.50,0.50,0.25,0.25,0.25,0.25,0.00,0.00,0.00,0.00,...,0.50,0.25,0.50,0.75,0.50,0.50,0.50,0.25,0.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.25,0.00,1.00,0.25,0.25,1.00,0.50,0.50,0.50,0.0
166,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1.00,0.25,0.50,0.50,0.50,0.50,0.75,0.50,0.50,0.0
167,0.25,0.25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,...,0.75,0.00,0.50,0.00,0.25,0.25,0.75,0.00,0.00,0.0
168,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.75,0.75,0.50,0.50,0.75,0.50,1.00,0.75,0.25,0.0
169,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,0.00,0.00,...,0.75,1.00,1.00,0.00,0.25,0.75,0.75,0.75,0.25,0.0